<div style="justify-content: center; display: flex;">
  <h1 class='title'>{{title}} Games</h1>
</div>

<!------ Search Panel ------>
<div class="searchPanel">
  <button pButton class="searchText" label="Search Games" icon="pi pi-search"></button>

  <p-dropdown class="teamDropdown" [(ngModel)]="selectedTeam" [options]="groupedTeams" optionValue="label" 
    filter="true" placeholder="Select a Team" group="true" showClear="true">
    <ng-template let-group pTemplate="group">
      <div class="p-d-flex p-ai-center">
        <img src="https://flagcdn.com/16x12/{{group.value}}.png" [class]="'p-mr-2 flag flag-'" style="width: 20px" />
        <span>{{group.label}}</span>
      </div>
    </ng-template>
  </p-dropdown>

  <p-dropdown ariaFilterLabel="test" class="yearDropdown" [options]="years" [(ngModel)]="selectedYear"
    placeholder="Select a Year" optionLabel="value" showClear="true">
  </p-dropdown>

  <button pButton class="getGamesBtn" [disabled]="!selectedYear || !selectedTeam" type="button" 
    label="Get Games" (click)=getGames() icon="pi pi-chevron-right" iconPos="right">
  </button>
</div> 
<!--- End Panel-->

<!-- Data View -->
<p-dataView [value]="games" layout="grid" styleClass="dataviewBG" [paginator]="!loading" [rows]="21" >
  <p-header *ngIf='!loading'>
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-header>

  <ng-template let-game pTemplate="listItem">
    <div class="p-col-5">
      <app-game-card [game]=game></app-game-card>
    </div>
  </ng-template>

  <ng-template let-game pTemplate="gridItem">
    <div class="p-col-5">
      <app-game-card [game]=game></app-game-card>
    </div>
  </ng-template>
</p-dataView>
<!-- End Dataview -->

<p-progressSpinner [strokeWidth]="1" styleClass="prime-slider-override" *ngIf="loading"></p-progressSpinner>