.title {
    font-size: 46px;
    font-family: 'Alegreya', serif;
    font-style: italic;
    background-color: #d9dcd7;
    color: #0c360d;
    border: solid;
    border-radius: 10px;
    padding: 0px 11px;
    width: fit-content;
    margin: 30px 0 0 0;
}

.searchPanel {
    display: flex;
    position: fixed;
    bottom: 1rem;
    left: 22%;
    z-index: 10;
}

.searchText{
    background: #0a0c42eb;
    border-color: black;
    border-radius: 4rem 0 0 4rem;
    pointer-events: none;
    border-width: 3px 0px 3px 3px;
    box-shadow: none;
    font-family: fantasy;
}

.getGamesBtn {
    background: #0a0c42eb;
    border-color: black;
    border-radius: 0 4rem 4rem 0;;
    border-width: 3px;
    box-shadow: none;
    font-family: sans-serif;
    font-style: italic;
}

.teamBorder {
    border-width: 3px 0px 3px 3px;
}

.yearBorder {
    border-width: 3px 0px;
}

.teamSearch{
    border-color: #080841;
    border-width: 3px;
    border-radius: 20px;
}

:host ::ng-deep {

    .sortGames .p-dropdown {
        border-color: #080841;
        border-width: 3px;
        border-radius: 10px;
    }

    .viewButtons {
        justify-self: end;

        .p-button {
            border-color: #080841;
            box-shadow: none;
        }
        .p-button:last-of-type {
            border-width: 3px 3px 3px 0;
            border-radius: 0 10px 10px 0;
        }
        .p-button:first-of-type {
            border-width: 3px 0 3px 3px;
            border-radius: 10px 0px 0px 10px;
        }
    }
    
    .panelWidth .p-dropdown {
        width: 14rem;
    } 

    .getGamesBtn .p-button:enabled:hover {
        background: #d5d2ffeb;
        border-color: black;
    }

    .panelDropDown {
        background: #0a0c42eb;
        color: black;
        border: solid;
        padding: 16px;

        .p-dropdown {
            background: #525ac3eb;
            border-radius: 10px;
            border-width: 3px;
            border-color: black;
            
            .p-dropdown-label {
                color: white;
            }
        }
        .p-dropdown:not(.p-disabled):hover{
            background: #d5d2ffeb;
            border-color: black;
        }
        .p-dropdown:not(.p-disabled).p-focus {
            border-color: transparent;
            box-shadow: none;
        }
    }

    .dataviewBG {   
        margin: 1rem 0 9rem 0;

        .p-dataview-header  {
            display: grid;
            grid-template-columns: 25% auto 25%;
            border-radius: 12px;
            margin: 0px 59px;
            background: #ffffffc7;
            align-items: center;
            border-width: 3px;
            border-color: black;
        }
        
        .p-paginator-top {
            margin: 3rem 57px 2rem 57px;
            border-radius: 10rem;
            background: #ffffffc7;
        }
        
        .p-paginator-bottom{
            border-radius: 10rem;
            background: #ffffffc7;
            margin: 0 57px;
        }

        .p-paginator {
            .p-paginator-first, .p-paginator-prev, .p-paginator-page, .p-paginator-next, .p-paginator-last{
                color: black;
            }
        }

        .p-dataview-content {
            background: transparent;
            border: none;

            .p-nogutter {
                justify-content: space-around;
                
                .p-dataview-emptymessage{
                    display: none;
                }
            }
        }
    }
        
    .prime-slider-override {
        .p-progress-spinner-svg {
            position: fixed;
            width: 20%;
            margin-top: 3rem;
        }
    }    
    
}