.title {
    font-size: 46px;
    font-family: 'Alegreya', serif;
    font-style: italic;
    background-color: #d9dcd7;
    color: #0c360d;
    border: solid;
    border-radius: 10px;
    padding: 0px 11px;
    width: fit-content;
    margin: 30px 0 0 0;
}

.searchPanel {
    display: flex;
    position: fixed;
    bottom: 1rem;
    left: 25%;
    z-index: 10;
}

.searchText{
    background: #0a0c42eb;
    border-color: black;
    border-radius: 4rem 0 0 4rem;
    pointer-events: none;
    border-right: none;
    border-width: 3px;
    box-shadow: none;
}

.getGamesBtn {
    background: #0a0c42eb;
    border-color: black;
    border-radius: 0 4rem 4rem 0;;
    border-width: 3px;
    box-shadow: none;
}

.teamDropdown {
   background: #0a0c42eb;
   color: black;
   border: solid;
   border-width: 3px;
   padding: 16px;
   border-right: none;
   box-shadow: none;
}

.yearDropdown {
   background: #0a0c42eb;
   color: black;
   border: solid;
   border-right: none;
   border-width: 3px;
   padding: 16px;
   border-left: none;
   box-shadow: none;
}

:host ::ng-deep {

    .teamDropdown {
        .p-dropdown {
            width: 14rem;
        }
     }

    .p-dropdown {
        background: #525ac3eb;
        border-radius: 10px;
        border-width: 2px;
        border-color: black;
        
        .p-inputtext {
            color: white;
        }
    }
    
    .p-dropdown:not(.p-disabled):hover {
        background: #d5d2ffeb;
        border-color: black;
    }
    .p-button:enabled:hover {
        background: #d5d2ffeb;
        border-color: black;
    }
    
    .prime-slider-override {
        .p-progress-spinner-svg {
            position: fixed;
            width: 20%;
            margin-top: 80px;
        }
    }    
    
    .transparentBG {
        .p-dataview-header  {
            background-color: transparent;
            border-color:transparent;
        }
        .p-dataview-content {
            background-color: transparent;
            border-color:transparent;
        }
        .p-nogutter {
            justify-content: space-around;
        }
    }
}