<p-toast position="center"></p-toast>

<div style="justify-content: center; display: flex;">
  <h1 class='title'>
    <img src="https://a.espncdn.com/i/teamlogos/soccer/500/{{titleLogo}}.png" width="50px" height="50px"
      style="vertical-align: sub;">
    {{title}} Games
  </h1>
</div>

<!------ Search Panel ------>
<div class="searchPanel">
  <button pButton class="searchText" label="Search Games" icon="pi pi-search"></button>

  <p-dropdown class="panelDropDown panelWidth" [(ngModel)]="selectedTeamID" [options]="groupedTeams" filter="true"
    placeholder="Select a Team" group="true" showClear="true" resetFilterOnHide="true">
    <ng-template let-group pTemplate="group">
      <div class="p-d-flex p-ai-center">
        <img src="https://flagcdn.com/16x12/{{group.value}}.png" [class]="'p-mr-2 flag flag-'" style="width: 20px" />
        <span>{{group.label}}</span>
      </div>
    </ng-template>
  </p-dropdown>

  <p-dropdown class="panelDropDown" [options]="years" [(ngModel)]="selectedYear" placeholder="Select a Year"
    optionLabel="value" showClear="true">
  </p-dropdown>

  <button pButton class="getGamesBtn" [disabled]="!selectedYear || !selectedTeamID" type="button" label="Get Games"
    (click)=getGames() icon="pi pi-chevron-right" iconPos="right">
  </button>
</div>
<!--- End Panel-->

<!-- Data View -->
<p-dataView #dataView [value]="games" layout="grid" styleClass="dataviewBG" filterBy="name1,name2" [sortOrder]="sortOrder"
  sortField="date" [paginator]="games.length" paginatorPosition="both" [rows]="14">

  <p-header class="filterPanel" *ngIf="games.length"> 
    <p-dropdown class="sortGames" [(ngModel)]="sortOrder" [options]="sortOptions" placeholder="Sort By Date"></p-dropdown>
    
    <span class="p-input-icon-left" style="justify-self: center;">
      <i class="pi pi-search"></i>
      <input class="teamSearch" type="search" [(ngModel)]="searchInput" pInputText placeholder="Search by Team"
      (input)="dataView.filter($event.target.value)">
    </span>
    
    <p-dataViewLayoutOptions class="viewButtons"></p-dataViewLayoutOptions>
  </p-header>

  <ng-template let-game pTemplate="listItem">
    <app-game-card [game]=game></app-game-card>
  </ng-template>

  <ng-template let-game pTemplate="gridItem">
    <app-game-card [game]=game></app-game-card>
  </ng-template>
 
</p-dataView>
<!-- End Dataview -->

<p-progressSpinner [strokeWidth]="1" styleClass="prime-slider-override" *ngIf="loading"></p-progressSpinner>